.task{
    
    background: linear-gradient(to right, #007BFF, #00BFFF);
    width: 90%;
    border-radius: 12px;
    margin-bottom: 10%;
  
}
.task-contents{
   font-size: 110%;
 margin-left: 40%;
   color: #fff;
}
.h1-task{
    color: white;
    
    font: weight 1000px;
   
    padding-bottom: 3%;
    align-items: center;
    
}
.task-header{
  
  width: 100%;
  background-color: #21e451;
  justify-content: center;
}